 #mostrar{

   background-color:#FFF176;
   padding-left: 10px;
   padding-top: 20px;
   -webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
-webkit-box-shadow: 1px 1px 1px 1px #7D7B79;
box-shadow: 1px 1px 1px 1px #7D7B79;


}

#contenedor{

 margin-left: 5%;
 margin-right: 5%;
 margin-top: 5%; 
-webkit-box-shadow: 5px 10px 10px 1px #7D7D7D;
box-shadow: 5px 10px 10px 1px #7D7D7D;
padding-bottom: 20px;

	  }
